 <div class="cols" *ngFor="let per of task">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
        <div class="front" style="background-image: url({{per.image}});height: 100%;">
						<div class="inner">
							<p>{{per.name}}</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Locación: {{per.location.name}}</p>
						  <p>Especie: {{per.species}}</p>
						  <p>Estado: {{per.status}}</p>
						</div>
					</div>
				</div>
			</div>
				</div>
