
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Acerca</h6>
          <p class="text-justify">Esta es una pagina web funcional usando una Api rest: RickandMorty<br>
                                  </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categorias</h6>
          <ul class="footer-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/characters">Character</a></li>
            <li><a href="/locations">Location</a></li>
            <li><a href="/episodes">Episodes</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Contactame</h6>
          <ul class="footer-links">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by Lucas Fernández</p>
        </div>
      </div>
    </div>
</footer>
