
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Acerca</h6>
          <p class="text-justify">Esta es una página web funcional usando una Api rest: <a href="https://rickandmortyapi.com/documentation/" target="blank">Rick and Morty</a><br>
                                  </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categorias</h6>
          <ul class="footer-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/characters">Personajes</a></li>
            <li><a href="/locations">Locaciones</a></li>
            <li><a href="/episodes">Episodios</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Contactame</h6>
          <ul class="footer-links">
            <li><a href="https://www.facebook.com/emanuel.fernandez.370" target="blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/fernandezlukas0/" target="blank">Instagram</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by <a href="https://www.instagram.com/fernandezlukas0/" target="blank">Lucas Fernández</a> </p>
        </div>
      </div>
    </div>
</footer>
